#button_calculate {
    font-size: 120%;
    padding: 6px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    width: 70px;
    text-align: center;
}

select {
    text-align: center;
}

#countdown {
    color: lightblue;
}
